#create-mnemonic {
	background-color: #DCDCDC;
}
#create-confirm {
	width: 100%;
	background-color: #DCDCDC;
}
#create-password {
	background-color: #DCDCDC;
}
#create-server {
	background-color: #DCDCDC;
}